/* Reuseable stles */
.navbar {
  color: #000;
  margin-top: 10px;
}

.navbar a {
  color: #2d2d2d;
  font-size: 18px;
}

.navbar-brand img {
  width: 60px;
}

/* ------ ------ Landing page ------- ------ */

.landing-outline {
  border: 2px solid #251e8c;
  border-radius: 6px;
  padding: 8px;
}
.landing-outline:nth-child(3) {
  background-color: #251e8c;
  color: #fff;
}
.bg-hero {
  padding-bottom: 174px;
}

.bg-texts {
  margin-top: 100px;
}
.bg-hero p {
  margin-top: 25px;
}

.freelance {
  background-color: #2b7dc4;
  border: 2px solid #2b7dc4;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}
.jobs {
  box-shadow: 0px 3px 6px #f5c01e26;
  border: 2px solid #0db47b;
  border-radius: 2px;
  padding: 10px;
  color: #0db47b;
  font-size: 12px;
}
.tutor {
  background: #ff9b17 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #f5c01e26;
  border-radius: 2px;
  border: 2px solid #ff9b17;
  padding: 10px;
  color: #000;
  font-size: 12px;
}

.image-rap img {
  width: 497px;
  height: 460px;
}

/* Let's walk you through */
.walk-you-through {
  background-color: #f1f1ff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.heading {
  padding-top: 0px;
  padding-bottom: 90px;
  padding-left: 90px;
}
.heading-line {
  width: 350px;
  background-color: #251e8c;
  height: 2px;
  opacity: 1;
}
.walk-column {
  background-color: #fff;
  box-shadow: 0px 20px 20px #7682b72e;
  padding-bottom: 20px;
  padding-top: 20px;
}
.img-head {
  margin-bottom: 20px;
}
.column-title {
  font: normal normal bold 33px/42px Archivo;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #151d41;
}

.column-text {
  padding: 10px;
  color: #151d41;
  font: normal normal 300 16px/35px Montserrat;
}
.know-btn {
  background: #251e8c 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  padding: 8px;
  color: #fff;
  font: normal normal normal 16px/35px Archivo;
}
.know-btn:hover {
  color: #fff;
  text-decoration: none;
}

.view-more {
  float: right;
  padding-top: 50px;
}

.view-btn {
  background: #251e8c 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  padding: 15px;
  color: #fff;
  font: normal normal normal 16px/35px Archivo;
}
.view-btn:hover {
  color: #fff;
  text-decoration: none;
}

/* Freelance gigs */
.freelancing-gigs {
  padding-top: 100px;
  padding-bottom: 100px;
}
.freelance-heading {
  padding-top: 0px;
  padding-bottom: 90px;
}
.freelance-column {
  background-color: #fff;
  /* margin-right: 50px; */
  box-shadow: 0px 20px 20px rgba(118, 130, 183, 0.18039);
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.freelance-img-head {
  background-image: url("~assets/img/Kentwood_Phone_03B-1280x850.jpg");
  padding: 82px;
  background-position: center;
  background-size: cover;
}

.freelance-text h3 {
  font: normal normal bold 18px/50px Archivo;
  letter-spacing: 0px;
  color: #151d41;
  opacity: 1;
}

.freelance-amount p {
  font: normal normal bold 18px/50px Archivo;
  letter-spacing: 0px;
  color: #151d41;
  opacity: 1;
}

/* Popular jobs */

.popular-jobs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.popular-column {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 16px rgba(37, 30, 140, 0.2902);
  border-radius: 21px;
  opacity: 1;
  margin-top: 10px;
}
.popular-column-heading {
  color: #0db47b;
}

.popular-column-heading i {
  font-size: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.popular-column-heading h5 {
  color: #a19d9d;
}

.popular-text {
  font: normal normal normal 18px/21px Archivo;
  letter-spacing: 0px;
  color: #606060;
}

.popular-durations {
  display: flex;
}

.gray-background {
  background-color: #efefef;
  padding: 10px 10px 5px 10px;
  margin-right: 20px;
  font: normal normal normal 16px/50px Archivo;
  letter-spacing: 0px;
}

.gray-background:nth-child(1) {
  color: #be9310;
}
.gray-background:nth-child(2) {
  color: #0db47b;
}
.gray-background:nth-child(3) {
  color: #b40d0d;
}
.popular-button {
  padding-top: 20px;
  padding-bottom: 20px;
}
.popular-button a {
  padding: 10px 80px;
  font: normal normal bold 16px/50px Archivo;
  letter-spacing: 0px;
  color: #0db47b;
  opacity: 1;
  border: 2px solid #0db47b;
  border-radius: 2px;
  opacity: 1;
}

/* Private-tutors */
.private-tutor {
  padding-top: 100px;
  padding-bottom: 100px;
}
.private-tutor-column {
  background-color: #fff;
  /* margin-right: 50px; */
  box-shadow: 0px 20px 20px rgba(118, 130, 183, 0.18039);
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.private-tutor-img-head {
  background-image: url("~assets/img/maths_e@2x.png");
  padding: 82px;
  background-position: center;
  background-size: cover;
}
.private-tutor-img-head:nth-child(2) {
  background-image: url("~assets/img/biology@2x.png");
}

.private-tutor-text {
  color: #251e8c;
  font: normal normal bold 21px/58px Archivo;
  letter-spacing: 0px;
  padding-top: 20px;
}

.private-tutor-info {
  display: flex;
  padding-bottom: 10px;
}

.private-tutor-info p:nth-child(1) {
  padding-right: 10px;
  padding-left: 5px;
}

/* News letter */

.news-letter {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f1f1ff;
}

@media screen and (max-width: 780px) {
  /* ------ ------ Landing page ------- ------ */
  /* Walk you through */
  .heading {
    padding-top: 0px;
    padding-bottom: 90px;
    padding-left: 10px;
  }

  .heading-line {
    width: 50px;
    background-color: #251e8c;
    height: 2px;
    opacity: 1;
  }

  .walk-column {
    background-color: #fff;
    margin-right: 0px;
    margin-top: 10px;
    box-shadow: 0px 20px 20px #7682b72e;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  /* Freelance */
  .freelance-column {
    margin-top: 40px;
  }
}
