/* Reuseable stles */
.navbar {
  color: #000;
  margin-top: 10px;
}

.navbar a {
  color: #2d2d2d;
  font-size: 18px;
}

/* Landing page  button styles */

.landing-outline {
  border: 2px solid #251e8c;
  border-radius: 6px;
  padding: 8px;
}
.landing-outline:nth-child(3) {
  background-color: #251e8c;
  color: #fff;
}
.bg-hero {
  height: 90vh;
}

.bg-texts {
  margin-top: 100px;
}
.bg-hero p {
  margin-top: 25px;
}

.freelance {
  background-color: #2b7dc4;
  border: 2px solid #2b7dc4;
  padding: 10px;
  color: #fff;
  font-size: 12px;
}
.jobs {
  box-shadow: 0px 3px 6px #f5c01e26;
  border: 2px solid #0db47b;
  border-radius: 2px;
  padding: 10px;
  color: #0db47b;
  font-size: 12px;
}
.tutor {
  background: #ff9b17 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #f5c01e26;
  border-radius: 2px;
  border: 2px solid #ff9b17;
  padding: 10px;
  color: #000;
  font-size: 12px;
}

.image-rap img {
  width: 497px;
  height: 460px;
}

/* Let's walk you through */
.walk-you-through {
  background-color: #f1f1ff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.heading {
  padding-top: 0px;
  padding-bottom: 90px;
  padding-left: 90px;
}
.heading-line {
  width: 350px;
  background-color: #251e8c;
  height: 2px;
  opacity: 1;
}
.walk-column {
  background-color: #fff;
  margin-right: 50px;
  box-shadow: 0px 20px 20px #7682b72e;
  padding-bottom: 20px;
  padding-top: 20px;
}
.img-head {
  margin-bottom: 20px;
}
.column-title {
  font: normal normal bold 33px/42px Archivo;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 0px;
  color: #151d41;
}

.column-text {
  padding: 10px;
  color: #151d41;
  font: normal normal 300 16px/35px Montserrat;
}
.know-btn {
  background: #251e8c 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  padding: 8px;
  color: #fff;
  font: normal normal normal 16px/35px Archivo;
}
.know-btn:hover {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 780px) {
  .heading {
    padding-top: 0px;
    padding-bottom: 90px;
    padding-left: 10px;
  }

  .heading-line {
    width: 50px;
    background-color: #251e8c;
    height: 2px;
    opacity: 1;
  }

  .walk-column {
    background-color: #fff;
    margin-right: 0px;
    margin-top: 10px;
    box-shadow: 0px 20px 20px #7682b72e;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
